# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.meta

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.csproj

Pixel.Fall/Assets/enemypixel.png.meta~01469f933bf6684d32f3eb087c746061d51785f5

Pixel.Fall/Assets/enemypixel.png.meta~HEAD

Pixel.Fall/Assets/heropixel.png.meta~HEAD

Pixel.Fall/Assets/heropixel.png.meta~01469f933bf6684d32f3eb087c746061d51785f5

Pixel.Fall/Assets/iShape.png.meta~01469f933bf6684d32f3eb087c746061d51785f5

Pixel.Fall/Assets/iShape.png.meta~HEAD

Pixel.Fall/Assets/squareShape.png.meta~01469f933bf6684d32f3eb087c746061d51785f5

Pixel.Fall/Assets/squareShape.png.meta~HEAD
